## Android & IntelliJ
*.iml
.gradle
**/build/
!src/**/build/
local.properties
.idea
captures
.externalNativeBuild
.cxx

# Kotlin Multiplatform / Native
.konan/
.kotlin
.kotlin/

# iOS (Xcode) 추가 보완
xcuserdata
**/DerivedData/
*.moved-aside
*.xcuserstate
**/.bundle/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
**/Secrets.xcconfig
*/Secrets.xcconfig

# Firebase configuration files
**/google-services.json
**/GoogleService-Info.plist

# Gradle 추가
.gradle/
build/

# OS specific & ETC
.DS_Store
Thumbs.db
node_modules/